@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');

body {
  font-family: 'BIZ UDPGothic', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 2lh;
}
